body{
  font-family: monospace;
  user-select: none;
}

.app {
  height: 3000px;
  width: 100%;
  /* background-color: rgb(81, 188, 212); */
  padding: 30px;
}

td{
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

.movie-title{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: black;
  height: 100%;
}

.movie-img{
  width: 100px;
  height: 60px;
  border-radius: 5px;
  margin: 5px;
}

.movie-title span{
  display: flex;
  justify-content: start;
}

.table{
  width: 70%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



@media screen and (max-width:600px) {
  .table{
    font-size: 10px;
    width: 50%;
    overflow: auto;
  }
}
